.idea/
*.iml
.vscode/
.minecraft/
local.properties
/run/
/logs/
*.log
.env
*.env
*.pem
.gradle/
build/
out/
*.tar.gz
*.bak
!packs/*/data/*/**/run
!packs/*/data/*/**/build
!mods/*/src/*/**/run
!mods/*/src/*/**/build
